<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5902.0" projectName="StateraWeb" dateCreated="2015-11-12 08:56:47Z">
	<defaultSite id="ef2adca7-5c83-4863-8006-1e01d2f26e3f" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>